@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
}

.bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(4px);
  background-position: 0 0;
}
.bg.layer_1 {
  animation: slide 20s linear infinite;
  background: url(../sprites/bg/Background.png);
  background-repeat: repeat;
  background-size: auto 100%;
}
.bg.layer_2 {
  background: url(../img/back-walls.png);
  background-size: auto 120vh;
}

@keyframes slide {
  0% {
    background-position: 0 50%;
    opacity: 0%;
  }
  30% {
    opacity: 100%;
  }
  100% {
    background-position: -500px 50%;
    opacity: 0%;
  }
}
.header {
  color: white;
  background-color: black;
  border-top: 5px solid white;
  height: 10vh;
  width: 100vw;
  padding: 10px;
  position: sticky;
  bottom: 0px;
  z-index: 1000;
}
.header_nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}
.header_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: color ease-in-out 200ms;
}
.header_item span {
  font-size: 25px;
}
@media (min-width: 768px) {
  .header_item {
    font-size: 20px;
    margin: 10px;
  }
  .header_item span {
    font-size: 6vw;
  }
}
@media (min-width: 1200px) {
  .header_item {
    font-size: 20px;
    margin: 10px;
  }
  .header_item span {
    font-size: 3vw;
  }
}
.header_item:hover {
  cursor: pointer;
  color: #6c1a6c;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.main_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .main_img {
    flex-direction: row;
  }
}
.main_logo {
  width: 100%;
}
@media (min-width: 560px) {
  .main_logo {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .main_logo {
    width: 45%;
  }
}
.main_character {
  width: 70%;
}
@media (min-width: 560px) {
  .main_character {
    width: 45%;
  }
}
@media (min-width: 1200px) {
  .main_character {
    width: 25%;
  }
}
.main_comic {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0 20px 0;
}
.main_comic .next_page_button {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: color 200ms ease-in, background-color 200ms ease-in;
}
.main_comic .next_page_button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .main_comic .next_page_button {
    font-size: 30px;
  }
}
.main_comic .comic_page img {
  width: 90vw;
}
@media (min-width: 1200px) {
  .main_comic .comic_page img {
    width: 50vw;
  }
}

canvas {
  border: white 5px solid;
  margin: 10vh 0 10vh 0;
  max-width: 80%;
  max-height: 40vw;
}

.main_controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background-color: black;
  font-size: 10px;
  padding: 20px;
  width: 100vw;
}
@media (min-width: 560px) {
  .main_controls {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .main_controls {
    font-size: 25px;
  }
}
.main_controls h1,
.main_controls h2 {
  letter-spacing: 10px;
  font-size: 20px;
  margin: 30px 0 10px 0;
}
@media (min-width: 1200px) {
  .main_controls h1,
.main_controls h2 {
    font-size: 40px;
  }
}
.main_controls hr {
  border: white 1px solid;
  margin-top: 0;
  width: 90vw;
}
.main_controls li {
  margin-top: 5px;
  width: 90vw;
  font-size: 15px;
}
@media (min-width: 768px) {
  .main_controls li {
    font-size: 20px;
  }
}
.main_controls_detail {
  display: flex;
  align-items: center;
  width: 70vw;
  margin-top: 20px;
}
.main_controls_detail div {
  display: flex;
  align-items: center;
}
.main_controls img {
  width: 100px;
}
@media (min-width: 1200px) {
  .main_controls img {
    width: 200px;
  }
}
.main_controls span {
  font-size: 50px;
  margin-right: 10px;
}
@media (min-width: 1200px) {
  .main_controls span {
    font-size: 100px;
  }
}

footer {
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  width: 100vw;
}
footer svg {
  width: 70px;
  height: 100px;
}
@media (min-width: 768px) {
  footer svg {
    width: 150px;
    height: 200px;
  }
}

#Fumée {
  -webkit-animation: slide-top 5s ease-in-out both infinite;
  animation: slide-top 7s ease-in-out both infinite;
}

/* Animations */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0%;
  }
  25% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  75% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0%;
  }
  25% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  75% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
.animate__slideOutLeft {
  opacity: 0%;
  transition: opacity 800ms ease-in;
}

.animate__slideInRight {
  opacity: 100%;
  transition: opacity 800ms ease-in;
}

/*# sourceMappingURL=output.css.map */
